{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
	<h4>Add a new entry:</h4>
{% endblock page_header %}

{% block content %}

	<h2><a href="{% url 'learning_logs:topic' topic.id %}" role = "button" class="btn btn-info btn-lg">{{topic}}</a></h2>


	<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form" >
		{% csrf_token %}
		{% bootstrap_form form %}	
		<button name="submit" class="btn btn-outline-primary">Add entry</button>

	</form>

{% endblock content %}